body, html {
  background-image: url(lightpaperfibers_@2X.png);
  background-repeat:no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

h1 {
  font: 50px 'Delius Swash Caps', Helvetica, Sans-serif;
	color: #CC3131;
  text-align: center;
  margin: auto;
  padding-top: 200px;
}

.mc_embed_signup {
  font: 28px sans-serif;
  margin: auto;
  width: 200px;
  padding: 10px;
}
.email-form {
  margin-top: 50px;
  padding-left: 10px;
}

.subscribe-button {
  padding-left: 10px;
  width: 100px;
}
.center {
  display: block;
  margin: auto;
  width: 50%;
}
